*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header {
    background-color: #FF7072;
    width: 100%;
    display: flex;
    /* position: fixed; */
}

/* main{
    padding-top: 80px;
} */

.menu{
    padding: 20px 0;
    width: 85%;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 5%;
}

.menu ul li{
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    letter-spacing: 2px;
}

.menu li a{
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    opacity: 70%;
    /* color: rgba(0, 0, 0, 50%); */
}

header img{
    position: absolute;
    width: 40px;
    height: 45px;
    float: right;
    padding-top: 10px;
}

/*  */

.toggle-nav {
    display: none;
}

.toggle-label {
    display: block;
    cursor: pointer;
}

.toggle-menu {
    display: none;
    font-size: 20px;
}

.toggle-nav:checked ~ .toggle-menu{
    display: block;
    border: 2px solid #FF7072;
}

.toggle-nav:checked + .toggle-label img {
    background-color: wheat;
}

.toggle-menu ul {
    list-style: none;
    display: block;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 5%;
}

.toggle-menu ul li {
    margin-bottom: 10px;
}

.toggle-menu ul li a {
    text-decoration: none;
    color: black;
}

.toggle-menu ul li a:hover{
    color: rgba(0, 0, 0, 80%);
}
/*  */

.toggle-menu {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 76%;
    background-color: #ff8a8c;
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(5px); 
    z-index: 999;
}

.toggle-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*  */

section {
    background-image: linear-gradient(120deg, #FFF7AF, #FED1D6, #FEA8FF);
    height: 100vh;
    width: 100%;
}

.container-1{
    height: 100%;
    width:100%;
    display: flex;
}

.container-1 .content, .container-1 .image-holder{
    width: 50%;
}

.container-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-1 .content{
    font-family: sans-serif;
    padding: 10% 5%;
    text-align: left;
}

.container-1 h1, .container-2 h1{
    /* font-size: 3.3rem; */
    font-size: 3.5vw;
    letter-spacing: 7px;
}

.container-1 p{
    margin-top: 70px;
    font-size: 18px;
    line-height: 25px;
}

.container-1 button{
    margin-top: 70px;
    background-color: #FF7072;
    border: none;
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
}

.container-1 button:hover{
    background-color: #ff8a8c;
}

.container-2{
    height: 100%;
    width: 100%;
    display: flex;
}

.image-container{
    width: 50%;
    height: 70%;
    margin: auto 0;
    display: flex;
}

.image-container .column-1, .image-container .column-2{
    width: 50%;
    height: 100%;
}

.image-container .column-1{
    margin-left: 15%;
    margin-right: 2%;
}

.image-container .column-2{
    margin-right: 3%;
    margin-left: 1%;
}

.image-container .column-1 img{
    width: 100%;
    height: 34vh;
    margin-bottom: 8px;
    object-fit: cover;
}

.image-container .column-2 img{
    height: 100%;
    width: 100%;
    margin: 0 3%;
    object-fit: cover;
}

.container-2 .content{
    background-color: #FF7072;
    margin: auto;
    margin-left: 3%;
    width: 33%;
    height: 28%;
    padding: 30px;
    font-family: sans-serif;
}

.container-2 h1{
    color: black;
    margin-top: 20px;
}

.container-2 button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
}

.container-2 .click-box{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.container-2 button img {
    height: 25px;
    width: 25px;
}

.container-2 button img:hover{
    opacity: 80%;
}

@media only screen and (max-width: 900px){
    .image-container .column-1{
        margin-left: 7%;
    }
    .container-2 .click-box{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 1050px){
    .menu ul{
        margin-left: 10%;
        margin-right: 3%;
    }
    .menu{
        width: 90%;
    }
}

@media only screen and (max-width: 800px){
    .menu{
        display: none;
    }
    header{
        height: 60px;
    }
    header img{
        right: 0;
        margin-right: 70px;
    }
  
}


@media only screen and (max-width: 850px){
    .toggle-menu{
        top: 50px;
        left: 75%;
    }
    .container-1, .container-2{
        display: block;
    }
    .container-1 .content{
        padding-top: 45px;
        padding-left: 50px;
        height: 33%;
        max-height: 280px;
        width: 90%;
    }
    .container-1 h1, .container-2 h1{
        font-size: 2.3rem;
        letter-spacing: 5px;
    }
    .container-1 p{
        margin-top: 25px;
        font-size: 15px;
        line-height: 22px;
        width: 92%;
        letter-spacing: 1px;
    }

    .container-1 .image-holder{
        width: 85%;
        height: 50%;
        margin: 0 auto;
    }
    
    .container-1 .image-holder img{
        width: 100%;
        height: 90%;
    }
    
    .container-1 button{
        margin-top: 30px;
    }
    #section-2{
        height: 120vh;
    }
    .image-container{
        height: 65%;
        width: 85%;
        padding: 10px;
        margin: auto auto;
        padding: 30px;
    }
    .image-container .column-1 img{
        height: 49%;
    }
    .container-2 .content{
        width: 50%;
        height: 150px;
        margin: 10px 19.5%;
    }
    menu ul li{
        font-size: 10px;
    }
    header img{
        width: 40px;
        height: 38px;
        padding-top: 13px;
    }
}

@media only screen and (max-width: 650px){
    .menu ul li{
        display: none;
    }
    header .toggle-menu{
        top: 48px;
        left: 63%;
    }
    section{
        height: auto;
    }
    .container-1{
        width: 93%;
        height: auto;
    }
    .container-1 .content{
        padding-top: 40px;
        padding-left: 40px;
        height: 150px;
        width: 95%;
        max-height: 250px;
    }
    .container-1 .content h1, .container-2 .content h1{
        /* font-size: 1.7rem; */
        font-size: 5vw;
    }

    .container-1 .content p, .container-2 .content p{
        font-size: 13px;
    }
    .container-1 .content button{
        margin-top: 20px;
    }
    .container-1 .image-holder{
       margin: 0 auto;
       margin-top: 35px;
       padding-bottom: 30px;
    }
    .container-1 .image-holder img{
       margin-top: 60px;
       height: auto;
    }
    
    .container-2 .content .click-box{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .container-2 .image-container{
        padding-top: 25px;
        width: 90%;
        height: 60%;
    }
    .image-container .column-1,.image-container .column-2, .image-container img{
        margin: 0 0;
        padding:  0 0;
    }
    
}

@media only screen and (max-width: 500px) {
    header img{
        margin-right: 25%;
    }
    header .toggle-menu{
        left: 45%;
    }

    .container-1 .content{
        padding-top: 35px;
        padding-left: 30px;
        width: 94%;
    }
    section{
        height: auto;
    }
    .container-1{
        height: auto;
    }
    .container-1 .content h1{
        padding-bottom: 5px;
    }
    .container-1 .content p{
        font-size: 13px;
    }
    .container-1 .content button{
        margin-top: 20px;
    }
    .container-1 .image-holder{
        width: 95%;
        height: 45%;
        margin: 0;
        margin-left: 5%;
        margin-top: 5%;
    }
    .container-1 .image-holder img{
        margin: 0;
        margin-top: 3%;
        max-height: 280px;
    }
    .container-2 .content{
        height: 140px;
        padding: 8px 8px;
        width: 50%;
    }
    .image-container, .image-container .column-1{
        margin: auto;
        padding: 0;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: auto;
    }
    
    .container-1 .content {
        flex: 1; 
        max-width: 900px;
        padding: 40px;
        padding-left: 50px;
        box-sizing: border-box;
        overflow: auto; 
    }
    
    .image-holder img {
        width: 100%; 
        height: auto;
        margin-bottom: 50px;
    }
    .image-container{
        padding: 20px 20px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media only screen and (max-height: 400px){
    .image-container{
        padding: 0 0;
    }
}